

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

  .color-bg{
   
    background-color:#FFFFFF;
  }

/* styles-top */

.top {
    background-color: #000;
    color: #F5F5F5;
    text-align: left;
    padding: 2px 0;
    font-size: 15px;
    font-weight: bold;
    
}
.top:hover {
    color: #D5D6D8;
    cursor: pointer;

}
/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 90px;
}
.nav-title{
    font-weight: 700;
    font-size: 18px;
}

nav ul li{
    list-style: none;
}

.btn-nav{
    padding: 1px 18px;
    margin: 10px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 4px;
    background-color:white;
    color: #222;
    border-color: #0E0E0E;
    border-width: 1px;
}


/* shared styles */
.smoky-black{
    color: #0E0E0E;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 13px 106px 13px 40px;
    padding: 55px 67px;
    background-color: #C6E4D6;
    border-radius: 10px;

}

.banner-content{
    max-width: 410px;
}

.banner-head{
    font-size: 20px;
    font-weight: 500;
}

.banner-vision{
    font-size: 40px;
    font-weight: bold;

}

.banner-pic{
    width: 400px;
}

.banner-btn{
    background-color: #006A50;
    width: 180px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    padding: 11px 22px;
}
/* pillars section */


.pillars-head{
  
    padding: 45px 53px 21px 12px;
    font-size: 26px;
    font-weight: 700;
    margin: 0 106px 0 40px;
    background-color:#FFFFFF;

}

.pillars-containers{
    display: flex;
    padding: 0 53px 0 12px;
    margin: 0 106px 0 40px;
    gap:24px;
    background-color: #FFFFFF;
}

.pillars-description pillars-image pillars-title{
    padding: 20px;
}

.pillars{
    box-shadow: 0px 6px 50px 0px #FFF7DF;
}

/* vision styles */

.vision-properties{

    padding: 0 53px 0 12px;
    margin: 0 106px 0 40px;
}

.vision-title{
    font-size: 26px;
    font-weight: 700;
    padding: 0 0 2px 0;
    color: #0E0E0E;
}

.vision-statement{
    color: #0E0E0E;

}

.vision-containers{
    display: flex;
    gap: 24px;
    padding: 21px 16px;
}

.vision-btn{
    border-radius: 5px;

}

.vision-dt{
    font-size: 15px;
    background-color:#e8f1ff;
    padding: 21px 21px 16px 21px;
}

.vision-ge{
    font-size: 15px;
    background-color: #F1F1F3;
    padding: 21px 21px 16px 21px;
}



.vision-mi{
    font-size: 15px;
    background-color:#fff0e6;
    padding: 21px 21px 16px 21px;
}

.vision-dt .vision-btn{
    background-color:#5954F5 ;
    color: white;

}

.vision-ge .vision-btn{
    background-color: #09A15C;
    color:white ;

}

.vision-mi .vision-btn{
    background-color:#FFC239;
    color:white ;}
    
    .quote {
        position: relative;
        background-color: #C6E4D6;
      }
      
      .quote img {
        width: 5%;
        height: auto;
      }
      
      .statement {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.7); 
        padding: 40px 20px;
      }
      
      .statement p {
        position: absolute; 
        top: 0; 
        left: 0;
        width: 100%;
        height: 50%; 
        overflow: hidden;
        padding: 0 0 12px 5px;
      }

      .statement blockquote{
        
            font-size: 18px;
            color: #555555;
            margin: 0 auto;
            max-width: 800px;
        
      }
  
 .designation{
    background-color: #e0f7fa; ;
 }
  .advisor{
    font-size: 20px;
    font-weight: 600;
    background-color: #e0f7fa;
  }
  .title{
    font-size: 12px;
    font-weight: 400;
    background-color: #e0f7fa;
  }

  /* Opinion Section */
.opinion {
    padding: 0px 0 0 50px;
    background-color: #e0f7fa;
    text-align: left;
    margin-left: 44px;
    margin-right: 160px;
}

.opinion h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.opinion-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    
}
.opinion-container p{
   background-color: #FFFFFF;
   text-align: left;
}

.opinion-item {
    display: flex;
    align-items: left;
    background: #d9f6e3;
    padding: 10px 1px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.opinion-item p {
    margin: 0;
    font-size: 16px;
    color: #333333;
    text-align: left;
}

.opinion-item select {
    padding: 5px 2px;
    font-size: 14px;
    border-radius: 4px;
    text-align: left;
}

/* General container styling */
.recent-news {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
}

.recent-news h2 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333333;
}

.recent-news p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #666666;
}

/* News card styling */
.news-right {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.news-right.reverse {
    flex-direction: row-reverse; 
}

.news-image {
    flex: 0 0 200px;
}

.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.news-content {
    flex: 1;
}

.news-content h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333333;
}

.news-content .source {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 5px;
}

.news-content .source img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.news-content .date-time {
    font-size: 15px;
    color: #999;
    margin-bottom: 15px;
}

.news-content p {
    font-size: 10px;
    line-height: 1.5;
    color: #555555;
    margin-bottom: 15px;
}

/* Read More button styling */
.read-more {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}

.read-more:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .news-right,
    .news-right.reverse {
        flex-direction: column;
    }

    .news-right .news-image,
    .news-right.reverse .news-image {
        margin-bottom: 15px;
        width: 100%;
        height: auto;
    }
}



/* donation */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

.donation-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.donation-button {
    /* background-color: #4CAF50; */
    /* color: white; */
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 600;
}

.donation-button-two {
    /* background-color: #4CAF50; */
    /* color: white; */
    color: black;
    padding: 25px 30px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #C6E4D6;
    font-weight: 600;
}

.other-amount {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.other-amount input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.done-now-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

/* news letter */

.newsletter-section {
    background-color: #e0f2db;
    padding: 30px;
    margin-bottom: 30px;
}

.newsletter-section h2 {
    margin-bottom: 20px;
}

.newsletter-section p {
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.subscribe-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* footer */

footer {
    background-color: #f4f4f4;
    padding: 20px;
}

.footer-content {
    text-align: center;
}

.footer-content p{
    font-weight: 600;
    font-size: 20px;
}


.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    
    
}

.icon img {
    width: 15px;
    height: 15px;
}

    
